/* Splash Screen */
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro */
    opacity: 1; /* Comienza completamente visible */
    transition: opacity 2s ease-in-out; /* Transición suave de opacidad */
  }
  
  /* Contenido principal */
  #main-content {
    display: none;
  }