<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Source/CSS/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="tituloprincipal">Talento Tech, nivel explorador</h1>

        <div class="contenedor">
            <div class="imagen">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXc5CgEQk9JDYjocaD0M9yZqEBk94SMhvCvA&s" alt="">            
            </div>
            <div class="definicion">      
                <dl>
                    <dt class="titulolista">Universidad Nacional:</dt>
                    <dd>La Universidad Nacional de Colombia (UNAL) es una universidad pública colombiana de ámbito nacional, fundada bajo el gobierno de Santos Acosta el 22 de septiembre de 1867. Está vinculada a la historia y producción académica de América Latina.​<br>Su campus insignia, la Ciudad Universitaria de Bogotá, es el más grande del país y cuenta con 17 edificios declarados monumento nacional. Tiene sedes en Medellín, Manizales, Palmira, Arauca, Leticia, Tumaco, San Andrés y La Paz (Cesar). </dd>
                </dl>
            </div>
        </div>

        <h3>¿Quieres estudiar con nosotros?</h3>
        <p>Completa el siguiente formulario:</p>
        <div class="formulario">
            <form>
                <fieldset>
                    <label for="">Nombre:</label> <input type="text"><br>
                    <label for="">Apellido:</label> <input type="text"><br>
                    <label for="">Teléfono:</label> <input type="number"><br>
                    <label for="">Edad:</label> <input type="number" min="18" placeholder="Mayor de edad"><br>
                    <label for="">E-mail:</label> <input type="email">
                </fieldset>
                </form>
            </div>
        </div>
    
    <!-- <div>
        <div class="caja_1 display">Elemento 1</div>
        <div class="caja_2 display">Elemento 2</div>
        <div class="caja_3 display">Elemento 3</div>
    </div> -->
</body>
</html>
